<div class="card">
<%# <%= link_to image_tag(モデル.ファイル名, class: :card__img ), root_path%> 
  <div class="card__body">
    <%= link_to image_tag(syukie.image, class: :card__img ), syuky_path(syukie.id) %>
  </div>
</div>