.container{
  display: flex;
  justify-content: center;
}

.former{
  display: flex;
  justify-content: center;
}

.input-birth-wrap{
  display: flex;
  margin:20px 0px 20px 130px; 
}

.contents_form{
  margin-bottom: 30px;
}

.post{
  color :hotpink;
}

.select-birth{
  height: 2.4em;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px pink inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__text{
  height: 2.4em;
  width: 80%;
  padding: 0 16px;
  border-radius: 24px;
  border: none;
  box-shadow: 0 0 0 1px pink inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 20px auto 20px;
}

.point_form{
  height: 2.4em;
  width: 10%;
  padding: 0 16px;
  border-radius: 4px;
  border: 2px solid #ff69b4;
  transition: 0.25s;
}

.field{
  display: inline;
  justify-content: center;
  margin: 20px auto 20px;
}

.file{
  margin:20px 0px 20px 100px; 
  text-align: center;
}

.titles{
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.content_form{
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
}

.actions{
  display: flex;
  justify-content:center;
}

.input-since-wrap{
  display: flex;
  justify-content: center;
}

.form_page{
  height: 650px;
}

.login_form_top{
  margin-bottom: 30px;
}

.frame{
  position: relative;
  height: 900px;
}

form {
  width: 600px;
  padding: 40px 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  text-align: center;
}

form h1,form p {
  color: white;
  font-weight: 500;
}

form p {
  font-size: 10px;
}

form input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "id"],form input[type = "email"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input[type = "id"]:focus,form input[type = "email"]:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "id"],form input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input[type = "id"]:focus,form input[type = "password"]:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #f0f8ff;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}

form input[type = "submit"]:hover {
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
}

.form_name{
  color: white;
}

.foot{
  margin-top: 400px;
}
