.main-logo{
  display:flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 16px;

}

.head-wrapper{
  background-color: lightpink;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #333 3px solid;
  border-bottom: #333 3px solid;
}

.lists-right{
  display: flex;
  margin-right: 20px;
}

.registration{
  margin-top: 15px;
  margin-right: 40px;
  text-decoration: none;
  list-style: none;
}

.logo{
  margin:20px 0px 20px 70px ;
}

.user-nickname{
  text-decoration: none;
  color: #333;
  font-size: 30px;
  font-family: 'Hachi Maru Pop', cursive;
}

.content {
  width: 600px;
  height: 600px;
  list-style: none;
}

.wrap {
  display: flex;
  align-items: center;
  height: 460px;
  overflow: hidden;
}

.slideshow {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.slide-paused:hover .slideshow {
  animation-play-state: paused;
}

.hover {
  transition: all 0.2s;
}
.hover:hover {
  transform: translateY(-20px);
  border-radius: 0 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}

.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.new_syukie_btn{
  font-size: 30px;
  font-family: 'Hachi Maru Pop', cursive;
  text-decoration: none;
  color: black;
}

.foot-cover{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: lightpink;
  height: 60px;
  border-top: #333 3px solid;
  border-bottom: #333 3px solid;
}

.foot-btn{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
}

.baner{
  height: 260px;
  display: flex;
  justify-content: center;
}

.frige{
  height: 260px;
  margin: 0 auto;
}

.logo-cover{
  display: flex;
  justify-content: center;
}

.logo-white{
  height: 110px;
}

.company{
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.footer{
  background-color: #333;
  padding-bottom: 15px;
}

.footer-contents{
  display: flex;
  justify-content: center;
}

.footer-content-head{
  color: white;
  padding: 0 30px;
}

.footer-link{
  color: white;
  text-decoration: none;
  padding: 0 40px;
}

ul{
  list-style: none;
  text-decoration: none;
  color: white;
  display: inline;
  justify-content: center;
}
/* user/showのcss */

.main_icon{
  border-radius: 50%;
  margin: auto;
}

.registration{
margin-left: 20px;
}

.banner {
  border: 3px solid #CCCCCC;
  /* overflow: hidden; */
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.banner-cover {
  width: 1280px;
  display: flex;
}
.banner-item {
  /* float: left; */
  width: 900px;
}

.slick-prev::before {
  color: black!important;
  z-index: 1;
}
.slick-next::before {
  color: black!important;
}

.grade-cover{
  display: flex;
  justify-content: center;
}
