.user__card{
  display: flex;
  justify-content: center;
}

.hover{
  height: 400px;
}

.page-heading{
  text-align: center;
  font-size: 30px;
  font-family: 'Hachi Maru Pop', cursive;
  color: black;
}

.table{
  display: flex;
  justify-content: center;
}

.avatar_cover{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 24px;
}
.syukies_name{
  position: absolute;
  color: white;
  top :0;
  left: 520px;
  font-size: 32px;
  font-family: 'Hachi Maru Pop', cursive;
}

.table{
  position: absolute;
  bottom: 10px;
  left: 505px;
  color:white;
}

.user_profile{
  display: flex;
  justify-content: center;
  margin-top: 24px;  
}

.profile_card{
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}

.profile_text{
  margin-top: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Hachi Maru Pop', cursive;
}

.background{
  margin: auto;
  background-image:url("syozyo.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
  width: 1200px;
  position: relative;
}

.grade-title{
  position: absolute;
  top : 160px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 56px;
  border-bottom: 2px solid pink;
}

.grade-name{
  position: absolute;
  font-size: 48px;
  top: 250px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
}

.grade-param{
  width: 800px;
  position: absolute;
  font-size: 36px;
  top: 370px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
}

span {
  color: deeppink;
}

.grade-high{
  position: absolute;
  top: 400px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.high-dairy{
  position: absolute;
  top: 440px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.grade-low{
  position: absolute;
  top: 480px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.low-dairy{
  position: absolute;
  top: 520px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.meet{
  position: absolute;
  top: 560px;
  left :50%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}

.you{
  position: absolute;
  bottom: 180px;
  font-size: 48px;
  left :75%;
  transform: translate(-50%, 0%);
  font-family: 'Hachi Maru Pop', cursive;
}